@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 15px;
}

body {
    background-color: rgb(255, 255, 255);
}

.todo-item-list::-webkit-scrollbar {
    appearance: none;
    width: 3px;
    border-radius: 2px;
}

.todo-item-list::-webkit-scrollbar-thumb {
    background-color: #ecb465;
}

.todo-item-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.task-list-nav::-webkit-scrollbar {
    appearance: none;
    width: 4px;
}
.task-list-nav::-webkit-scrollbar-thumb {
    background-color: #393e46;
    border-radius: 5px;
}

.task-item:hover .task-item-text {
    width: 76%;
}

.task-item:hover .task-item-action {
    display: flex;
}

.task-item:hover .task-mark {
    margin-right: 25px;
}

.task-item:hover .item-marked {
    margin-right: 24px;
}

:disabled {
    cursor: not-allowed;
}